@tailwind base;
@tailwind components;
@tailwind utilities;

#homeBackground{
    background-image:linear-gradient(to right, white 62%, #F9BDBD 50.001%);
}
@font-face {
    font-family: "nunito" ;
    src: url(./fonts/static/Nunito-Medium.ttf);
}

p{
    font-family: "nunito" ;
}
a{
    font-family: "nunito" ;
}
h2{
    font-family: "nunito" ;
}

h1{
    font-family: "nunito" ;
}